<%- include('../partials/auth/header',{ page:'Login' }) %>

    <div class="main">
        <div class="col-md-6 col-sm-12">
            <div class="login-form" style="display: inline-block;">
                <% locals.allErrorMessages={} %>

                    <%- include('../partials/auth/errors') %>

                        <form action="/auth/login" method="post">

                            <div class="form-group my-2">

                                <label> Email</label>
                                <input type="text" class="form-control" name="email" placeholder="Email"
                                    value="navidywyv@mailinator.com">
                                <%- include('../error/input', {key:'email'}); %>
                            </div>

                            <div class="form-group my-2 mb-3">
                                <label>Password</label>
                                <input type="password" class="form-control" name="password" placeholder="Password"
                                    value="123456">
                                <%- include('../error/input', {key:'password'}); %>
                            </div>
                            <button type="submit" class="btn btn-warning">Login</button>
                            <a class="btn btn-secondary" href="/auth/google" class="button">Sign In with Google</a>

                        </form>
                        <%- include('../partials/auth/footer',{page:'register'}) %>